<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :p_type %><br />
	<%- output=false -%>
	<% if output %>
	<%= f.select :p_type, options_for_select([["請選擇",""], "一般","技術"]), :class => 'class' %>
	<% end %>
	<%= f.text_field :p_type %> ex:清潔用品、化妝用品、保養品...
  </div>
  <div class="field">
    <%= f.label :p_name %><br />
    <%= f.text_field :p_name %>
  </div>
  <div class="field">
    <%= f.label :p_unit %><br />
    <%= f.select :p_unit, options_for_select(["個","瓶", "罐","盒","打","支","台"]), :class => 'class' %>
  </div>
  <div class="field">
    <%= f.label :p_price %><br />
    <%= f.number_field :p_price %>
  </div>
  <div class="field">
    <%= f.label :p_stock %><br />
    <%= f.number_field :p_stock %>
  </div>
  <div class="field">
    <%= f.label :distributor_id %><br />
	<%= f.collection_select :distributor_id, Distributor.all, :id, :corp_name, :prompt => true  %>
  </div>
  <div class="field">
    <%= f.label :p_discount %><br />
    <%= f.number_field :p_discount, :value => 0 %>% (百分比)
  </div>
  <div class="actions">
    <%= f.submit "確認送出" %>
  </div>
<% end %>
