<h1>消費項目</h1>

<table>
  <tr>
    <th><%= t('helpers.label.expend_event.service_id')%></th>
    <th><%= t('helpers.label.expend_event.e_name')%></th>
    <th><%= t('helpers.label.expend_event.e_type')%></th>
    <th><%= t('helpers.label.expend_event.e_price')%></th>
    <th><%= t('helpers.label.expend_event.e_discount')%></th>
    <th><%= t('helpers.label.expend_event.e_dcom')%></th>
    <th><%= t('helpers.label.expend_event.e_acom')%></th>
    <th><%= t('helpers.label.expend_event.e_combine')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expend_events.each do |expend_event| %>
  <tr>
    <td><%= expend_event.service_id %></td>
    <td><%= expend_event.e_name %></td>
    <td><%= expend_event.e_type %></td>
    <td><%= expend_event.e_price %></td>
    <td><%= expend_event.e_discount %></td>
    <td><%= expend_event.e_dcom %></td>
    <td><%= expend_event.e_acom %></td>
    <td><%= expend_event.e_combine %></td>
    <td><%= link_to '查看', expend_event %></td>
    <td><%= link_to '修改', edit_expend_event_path(expend_event) %></td>
    <td><%= link_to '刪除', expend_event, method: :delete, data: { confirm: '你確定刪除嗎?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新增消費項目', new_expend_event_path %>
