<p id="notice"><%= notice %></p>

<p>
  <b>Service:</b>
  <%= @expend_event.service_id %>
</p>

<p>
  <b>E name:</b>
  <%= @expend_event.e_name %>
</p>

<p>
  <b>E type:</b>
  <%= @expend_event.e_type %>
</p>

<p>
  <b>E price:</b>
  <%= @expend_event.e_price %>
</p>

<p>
  <b>E price:</b>
  <%= @expend_event.e_price %>
</p>

<p>
  <b>E discount:</b>
  <%= @expend_event.e_discount %>
</p>

<p>
  <b>E dcom:</b>
  <%= @expend_event.e_dcom %>
</p>

<p>
  <b>E acom:</b>
  <%= @expend_event.e_acom %>
</p>

<p>
  <b>E combine:</b>
  <%= @expend_event.e_combine %>
</p>


<%= link_to 'Edit', edit_expend_event_path(@expend_event) %> |
<%= link_to 'Back', expend_events_path %>
